<!-- MODEL DRIVEN FORM -->
<form [formGroup]="obrazec"  (ngSubmit)="oddajObrazec(obrazec.value);" class="container">
  <input (ngModelChange) = "vpisanaDecimalna(oldValue, newValue = $event);" type="text" name="decimalna stevilka" placeholder="Decimalno število" formControlName="decimalno">
  <input (ngModelChange) = "vpisanaBinarna(oldValue, newValue = $event);" type="text" name="binarna stevilka" placeholder="Binarno število" formControlName="binarno">
  <input (ngModelChange) = "vpisanaOsmiska(oldValue, newValue = $event);" type="text" name="osmiska stevilka" placeholder="Osmiško število" formControlName="osmisko">
  <input (ngModelChange) = "vpisanaSestnajstiska(oldValue, newValue = $event);" type="text" name="sestnajstiska stevilka" placeholder="Šestnajstiško število" formControlName="sestnajstisko">
  <!-- <input type="submit"> -->
</form>