<!-- TEMPLATE DRIVEN FORM -->
<!-- <form (ngSubmit) = "oddajObrazec(blaForm.value);" #blaForm = "ngForm" class="container">
  <input type="text" name="firstName" placeholder="Vpiš svoje ime" ngModel>
  <input type="text" name="lastName" placeholder="Vpiš svoj priimk" ngModel>
  <select name="jeziki" ngModel>
    <option value="C++">C++</option>
    <option value="Swift">Swift</option>
    <option value="Java">Java</option>
  </select>
  <input type="submit" value="submit">
</form> -->

<!-- MODEL DRIVEN FORM -->
<form [formGroup] = "obrazec"  (ngSubmit) = "oddajObrazec(obrazec.value);" class="container">
  <input type="text" name="prvoime" placeholder="Vpiši svoje ime" formControlName="prvoime">
  <input type="text" name="zadnjeIme" placeholder="Vpiši svoj priimek" formControlName="zadnjeime">
  <select name="jeziki" formControlName="jeziki">
    <option value="C++">C++</option>
    <option value="Swift">Swift</option>
    <option value="Java">Java</option>
  </select>
  <input type="submit" value="submit" [disabled] = "!obrazec.valid">
</form>

<app-product>{{izpis}}</app-product>

<div>
  <button (click) = "animiraj()">Click me</button>
  <p [@mojaAnimacija] = "stanje">Look Me</p>
</div>