.container {
    margin: 0 auto;
    min-width: 500px;
    width: 50vh;
    text-align: center;
    background-color: #C7A9A9;
    padding: 25px;
}

.container * {
    display: inline-block;
    height: 30px;
    border: 0;
    padding: 0;
    margin: 5px 0;
    width: 100%;
    box-sizing:content-box;
}

.container input[type="text"]::placeholder  {
    text-align: center;
}