<div class="osrednji">
  <h1>Naloge:</h1>
  <div class="dodajNalogo">
    <input [(ngModel)] = "novaNaloga" placeholder="Dodaj nalogo" class="dodajBesedilo">
    <button (click)="dogodekDodajanja($event)" >Dodaj</button>
  </div>

  <ul>
    <li *ngFor="let i of naloge; let ind = index">{{i}}<button (click)="dogodekBrisanja(ind)">x</button></li>
  </ul>
</div>

<h2>{{name | lowercase}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{datum}}</h2>
<h2>{{datum | date}}</h2>
<h2>{{datum | date: 'shortDate'}}</h2>
<h2>{{datum | date: 'fullDate' | uppercase}}</h2>
<h2>To bo seznam števil:</h2>
<h2>{{seznam | sort: 'descending'}}</h2>